<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-feature
        android:name="android.hardware.type.watch" 
        android:required="true" />

    
    <application

        android:theme="@style/Theme.AboutTime">

       <service

    android:name=".AboutTimeWatchFaceService"

    android:exported="true">


    <intent-filter>

        <action android:name="androidx.wear.watchface.WATCH_FACE_SERVICE"/>

    </intent-filter>


</service>
           

    </application>


</manifest>
